<!doctype html>
<html lang="pt-br">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>LCK Tecnologia - OS</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

  {% with msgs = get_flashed_messages(with_categories=true) %}
    {% if msgs %}
      <div class="toast-wrap">
        {% for cat,msg in msgs %}
          <div class="toast {{ 'toast-err' if cat=='err' else 'toast-ok' }}">{{ msg }}</div>
        {% endfor %}
      </div>
    {% endif %}
  {% endwith %}

  {% block content %}{% endblock %}

</body>
</html>
