{% extends "base.html" %}
{% block content %}

<div class="home">
  <div class="home-card">
    <div class="home-left">
      <div class="home-logo">
        <div class="home-logo-top">LCK</div>
        <div class="home-logo-bottom">Tecnologia</div>
      </div>

      <div>
        <div class="home-title">Sistema de Ordem de Serviço</div>
        <div class="home-sub">Acesso interno e consulta do cliente.</div>
      </div>
    </div>

    <div class="home-actions">
      <a class="btn btn-green btn-big" href="{{ url_for('login') }}">Acessar Sistema</a>
      <a class="btn btn-blue btn-big" href="{{ url_for('consultar') }}">Consultar OS (Cliente)</a>
    </div>
  </div>
</div>

{% endblock %}
